<!DOCTYPE html>
<html lang="{{ mocha.config.get('setting.local.language') }}" class="{{ mocha.document.getNode('class_html')|join(' ') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ mocha.document.getTitle }}</title>
</head>

<body class="{{ mocha.document.getNode('class_body')|join(' ') }}">

    <div style="background:#d9edf7;padding:40px 20px;">{{ component }}</div>
    <div style="background:#d9edf7;padding:20px 20px;margin-top:20px">block position</div>

</body>
</html>
