<!DOCTYPE html>
<html lang="{{ mocha.i18n.get('lang_code') }}" dir="{{ mocha.i18n.get('lang_dir') }}" class="{{ mocha.document.getNode('class_html')|join(' ') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if mocha.secure %}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endif %}

    <title>{{ mocha.document.getTitle }}</title>

{% for meta in mocha.document.getMeta %}
    <meta {{ meta.attribute }}="{{ meta.value }}" content="{{ meta.content }}">
{% endfor %}
{% for link in mocha.document.getLink %}
    <link rel="{{ link.rel }}" href="{{ link.href }}" {{ link.hreflang ? 'hreflang="' ~ link.hreflang ~ '"' }} {{ link.type ? 'type="' ~ link.type ~ '"' }} {{ link.media ? 'type="' ~ link.media ~ '"' }}>
{% endfor %}

    <link rel="stylesheet" href="{{ mocha.config.get('setting.url_site') }}asset/style/uikit.sketsa{{ mocha.i18n.get('lang_dir') == 'rtl' ? '-rtl' }}.min.css?v=3.0.2" media="all">
{% for style in mocha.document.getStyle() %}
    <link rel="stylesheet" href="{{ style.href }}" media="{{ style.media }}">
{% endfor %}
    <link rel="stylesheet" href="{{ mocha.config.get('setting.url_site') }}asset/style/mocha.plugin.css?v={{ mocha.theme.version }}" media="all">
    <link rel="stylesheet" href="{{ mocha.config.get('setting.url_site') }}asset/theme/{{ mocha.theme.codename }}/theme.css?v={{ mocha.theme.version }}" media="all">

    <script src="{{ mocha.config.get('setting.url_site') }}asset/script/jquery-3.3.1.min.js"></script>
    <script src="{{ mocha.config.get('setting.url_site') }}asset/script/uikit.min.js?v=3.0.2"></script>
{% block head %}
<script>
'use strict';
const mocha = {
    'version'     : '{{ mocha.version }}',
    'theme'       : {{ mocha.theme|json_encode() }},
    'setting'     : {{ mocha.config.get('setting')|json_encode() }},
    'i18n'        : {{ mocha.i18n.load('general')|json_encode() }},
    'formChanged' : false
};
console.log(mocha);
</script>
{% endblock head %}
</head>

<body class="{{ mocha.document.getNode('class_body')|join(' ') }}">

{% block navbar %}
<div id="block-navbar" class="block-navbar">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container" uk-navbar="mode: click">

            <div class="uk-navbar-left">
                <div class="uk-display-inline uk-margin-small-left">
                    <a class="uk-navbar-toggle navbar-commander-icon" title="Navigation">
                        <i data-feather="command" style="margin-top:-2px"></i>
                    </a>
                    <div class="uk-width-400 navbar-commander" uk-dropdown="mode:click; offset:0;">
                        <div class="uk-dropdown-grid uk-grid-collapse" uk-grid>
                            <div class="uk-width-175">
                                <div class="navbar-commander-group">
                                    <ul class="uk-nav uk-dropdown-nav" uk-switcher="connect:.navbar-commander-items">
                                        <li><a class="commander-group-link">Components</a></li>
                                        <li><a class="commander-group-link">Extensions</a></li>
                                        <li><a class="commander-group-link">Tools</a></li>
                                        <li><a class="commander-group-link">Accounts</a></li>
                                        <li><a class="commander-group-link">System</a></li>
                                        <li><a class="commander-group-link">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-expand">
                                <div class="uk-switcher navbar-commander-items">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="{{ mocha.router.url('content') }}">Contents</a></li>
                                    </ul>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="{{ mocha.router.url('extension/manage') }}">Manages</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{ mocha.router.url('extension/module') }}">Modules</a></li>
                                        <li><a href="{{ mocha.router.url('extension/plugin') }}">Plugins</a></li>
                                        <li><a href="{{ mocha.router.url('extension/theme') }}">Themes</a></li>
                                        <li><a href="{{ mocha.router.url('extension/language') }}">Languages</a></li>
                                    </ul>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="{{ mocha.router.url('tool/navigation') }}">Navigations</a></li>
                                        <li><a href="{{ mocha.router.url('tool/url') }}">URL Manager</a></li>
                                        <li><a href="{{ mocha.router.url('tool/media') }}">Media Manager</a></li>
                                    </ul>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="{{ mocha.router.url('account/user') }}">Users</a></li>
                                        <li><a href="{{ mocha.router.url('account/role') }}">Roles</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{ mocha.router.url('account/activity') }}">Activities</a></li>
                                    </ul>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        {# <li class="uk-nav-header">Settings</li> #}
                                        <li><a href="{{ mocha.router.url('system/setting/site') }}">Site Setting</a></li>
                                        <li><a href="{{ mocha.router.url('system/setting/locale') }}">Locale Setting</a></li>
                                        <li><a href="{{ mocha.router.url('system/setting/server') }}">Server Setting</a></li>
                                        <li class="uk-nav-divider"></li>
                                        {# <li class="uk-nav-header">Logs</li> #}
                                        <li><a href="{{ mocha.router.url('system/log') }}">Error Logs</a></li>
                                    </ul>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="#">Community</a></li>
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="{{ mocha.router.url('system/help/opensource') }}">Open Sources</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{ mocha.router.url('system/help/update') }}">Check for Updates</a></li>
                                        <li><a href="#">Changelogs</a></li>
                                        <li><a href="{{ mocha.router.url('system/help/about') }}">About Mocha</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="uk-search navbar-search" hidden->
                    <div>
                        <span class="uk-search-icon">
                            <i data-feather="search" width="16px" height="16px"></i>
                        </span>
                        <input class="uk-search-input" type="search" placeholder="TODO: Search...">
                        <a class="uk-search-icon navbar-search-clear" title="Clear search" style="display:none-">
                            <i data-feather="x" width="12px" height="12px"></i>
                        </a>
                    </div>
                    <div class="uk-width-300 navbar-search-result" uk-dropdown="mode:click; offset:4;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Contents</li>
                            <li><a class="uk-text-truncate">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit..
                                <div class="uk-text-meta uk-text-mini uk-text-truncate">Quod fugiat laudantium ipsam quisquam accusamus recusandae.</div>
                            </a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Extensions</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>

                    <a class="uk-search-icon navbar-search-option" title="Search options">
                        <i data-feather="sliders" width="16px" height="16px"></i>
                    </a>
                    <div class="uk-width-300 navbar-search-setting" uk-dropdown="mode:click; pos:bottom-right; offset:4;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Search in</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>

                        <div class="uk-margin-top uk-text-right">
                            <button class="uk-button uk-button-small uk-button-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="uk-navbar-right">
                <a class="uk-navbar-toggle uk-visible@s" href="{{ mocha.config.get('setting.url_site') }}" target="_blank" title="View site">
                    <i data-feather="monitor" width="20px" height="20px"></i>
                </a>

                <div class="uk-display-inline uk-visible@s" hidden>
                    <a class="uk-navbar-toggle" title="Shortcut">
                        <i data-feather="link-2" width="20px" height="20px"></i>
                        <span class="dropdown-caret"></span>
                    </a>
                    <div uk-dropdown="mode:click; offset:0; pos:bottom-right;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">TODO: Change to shortcut</a></li>
                            <li><a href="#">New Content Post</a></li>
                            <li><a href="#">New Content Category</a></li>
                        </ul>
                    </div>
                </div>

                <div class="uk-display-inline">
                    <a class="uk-navbar-toggle uk-margin-small-right" title="Account">
                        <i data-feather="user" width="20px" height="20px"></i>
                        <span class="dropdown-caret"></span>
                    </a>
                    <div uk-dropdown="mode:click; offset:0; pos:bottom-right;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">Edit Account</a></li>
                            <li><a href="#">Preference</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="{{ mocha.router.url('account/user/logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </nav>
    </div>
</div>
{% endblock navbar %}

{% block top %}
<div id="block-top" class="block-top">
    <div class="uk-container uk-container-large">
        {% set breadcrumbs = mocha.document.getNode('breadcrumbs') %}
        {% if breadcrumbs %}
            <ul class="uk-breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb.1 is defined %}
                        <li><a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a></li>
                    {% else %}
                        <li class="uk-disabled"><span>{{ breadcrumb.0 }}</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock top %}

{% block content %}
<div id="block-content" class="block-content">
    <div class="uk-container uk-container-large">
        {% for alert in mocha.document.getNode('alerts') %}
            <div class="uk-alert-{{ alert.0 }} uk-alert-small" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ alert.1 }}</p>
            </div>
        {% endfor %}

        {{ component }}
    </div>
</div>
{% endblock content %}

{% block footer %}
<div id="block-footer" class="block-footer uk-text-small uk-text-muted uk-text-center">
    <div class="uk-container uk-container-large">
        <div class="footer-content">
            {{ mocha.i18n.get('copyright') }} <br>
            Version {{ mocha.version }}
        </div>
    </div>
</div>
<a class="to-top uk-position-fixed uk-position-small uk-position-bottom-right" uk-totop uk-scroll='{"duration":500}' style="display:none"></a>
<script>
var toTop = $('.to-top');
$(window).scroll(function() {
    var scrollPosition = $(window).scrollTop();
    if (scrollPosition >= 150 && scrollPosition <= 250) {
        if (scrollPosition >= 200) {
            toTop.fadeIn();
        } else {
            toTop.fadeOut();
        }
    }
});
</script>
{% endblock footer %}

{% block bottom %}
<script src="{{ mocha.config.get('setting.url_site') }}asset/script/uikit-icons.min.js?v=3.0.2"></script>
<script src="{{ mocha.config.get('setting.url_site') }}asset/script/feather/feather.min.js?v=4.10.0"></script>
<script>feather.replace();</script>

{% for script in mocha.document.getScript() %}
<script src="{{ script }}"></script>
{% endfor %}
<script src="{{ mocha.config.get('setting.url_site') }}asset/theme/{{ mocha.theme.codename }}/theme.js?v={{ mocha.theme.version }}"></script>

{% endblock bottom %}
</body>
</html>
