<div class="page-top">

    <div uk-grid>
        <div class="uk-width-expand">
            <h1 class="uk-margin-remove">Content <span class="uk-text-lead uk-text-muted uk-visible@s">Tags</span></h1>
        </div>

        <div class="uk-grid-auto uk-visible@s">
            <ul class="uk-subnav uk-subnav-divider uk-margin-top" uk-margin>
                <li>
                    <a href="{{ mocha.router.url('content/post') }}" title="Posts">
                        <span class="uk-visible@m">Posts</span>
                        <span class="uk-hidden@m"><i data-feather="file" width="20px" height="20px"></i></span>
                    </a>
                </li>
                <li>
                    <a href="{{ mocha.router.url('content/category') }}" class="uk-visible@m">Categories</a>
                    <a href="{{ mocha.router.url('content/category') }}" class="uk-hidden@m" title="Categories"><i data-feather="folder" width="20px" height="20px"></i></a>
                </li>
                <li class="uk-active">
                    <a href="{{ mocha.router.url('content/tag') }}" class="uk-visible@m">Tags</a>
                    <a href="{{ mocha.router.url('content/tag') }}" class="uk-hidden@m" title="Tags"><i data-feather="tag" width="20px" height="20px"></i></a>
                </li>
                <li>
                    <a href="{{ mocha.router.url('content/insight') }}" class="uk-visible@m">Insights</a>
                    <a href="{{ mocha.router.url('content/insight') }}" class="uk-hidden@m" title="Insights"><i data-feather="activity" width="20px" height="20px"></i></a>
                </li>
                <li>
                    <a href="{{ mocha.router.url('content/setting') }}" class="uk-visible@m">Settings</a>
                    <a href="{{ mocha.router.url('content/setting') }}" class="uk-hidden@m" title="Settings"><i data-feather="sliders" width="20px" height="20px"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-content uk-card-panel uk-card-body uk-grid-margin">

    <div uk-grid>
        <div class="uk-width-expand">
            <ul class="uk-subnav uk-subnav-divider" uk-margin>
                <li><a class="">All <span class="uk-label uk-background-gray" style="font-size:11px; padding:0 5px; margin-top:-2px;">16</span></a></li>
                <li><a class="">Publish <span class="uk-label uk-background-gray" style="font-size:11px; padding:0 5px; margin-top:-2px;">16</span></a></li>
                <li><a class="">Pending <span class="uk-label uk-background-gray" style="font-size:11px; padding:0 5px; margin-top:-2px;">16</span></a></li>
                <li><a class="">Draft <span class="uk-label uk-background-gray" style="font-size:11px; padding:0 5px; margin-top:-2px;">16</span></a></li>
                <li><a class="">Trash <span class="uk-label uk-background-gray" style="font-size:11px; padding:0 5px; margin-top:-2px;">16</span></a></li>
            </ul>
        </div>
        <div class="uk-width-200 uk-text-right">
            {# <button class="uk-button uk-button-primary" style="margin-top:-10px">Insert</button> #}
            <button class="uk-button uk-button-primary" style="padding-left:15px; margin-top:-10px;"><i data-feather="plus" width="22px" height="22px"></i> Insert</button>
        </div>
    </div>

    <hr class="uk-divider-line">

    <table class="uk-table uk-table-striped uk-table-hover uk-table-middle">
        <thead>
            <tr>
                <th class="uk-width-1-6">Table Heading</th>
                <th>Table Heading</th>
                <th class="uk-width-1-6 uk-text-center">Table Heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td class="uk-text-center">Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                <td class="uk-text-center">Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td class="uk-text-center">Table Data</td>
            </tr>
        </tbody>
    </table>

</div>
