<div class="page-top uk-child-width-1-2" uk-grid>
    <div>
        <h1 class="page-title">{{ mocha.i18n.get('page_title') }}</h1>
    </div>
    <div class="uk-text-right uk-padding-mini-top">
        <button id="js-action-save" class="uk-button uk-button-success">{{ mocha.i18n.get('save') }}</button>
    </div>
</div>

<form id="setting-form" action="{{ form_action }}" method="post" class="uk-form-horizontal uk-form-expand uk-margin" data-mc-form-monitor>
    <div class="page-content uk-card-panel uk-card-body uk-margin uk-margin-hover">

        {{ mocha.tool_secure.csrfField() }}
        <input type="hidden" value="site" name="setting_type">

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ mocha.i18n.get('metadata') }}</legend>

            <div class="uk-margin">
                <label class="uk-form-label" for="site-name"><span class="uk-text-danger">*</span> {{ mocha.i18n.get('site_name') }}</label>
                <div class="uk-form-controls">
                    <input type="text" id="site-name" name="site_name" class="uk-input uk-width-500@m" value="{{ form.site_name }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="meta-desc">{{ mocha.i18n.get('meta_description') }}</label>
                <div class="uk-form-controls">
                    <textarea id="meta-desc" name="meta_desc" class="uk-textarea uk-width-500@m" rows="6">{{ form.meta_desc }}</textarea>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="meta-keyword">{{ mocha.i18n.get('meta_keywords') }}</label>
                <div class="uk-form-controls">
                    <input type="text" id="meta-keyword" name="meta_keyword" class="uk-input uk-width-5-6@l" value="{{ form.meta_keyword }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="favicon">{{ mocha.i18n.get('favicon') }}</label>
                <div class="uk-form-controls">
                    <input type="text" id="favicon" name="favicon" class="uk-input uk-width-150" value="{{ form.favicon }}">
                </div>
            </div>
        </fieldset>

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ mocha.i18n.get('account') }}</legend>

            <div class="uk-margin">
                <label class="uk-form-label">{{ mocha.i18n.get('registration') }}</label>
                <div class="uk-form-controls">
                    <div class="uk-button-group uk-button-radio">
                        <input type="radio" id="user-register-1" name="user_register" value="1" {{ form.user_register ? 'checked' }} hidden>
                        <label for="user-register-1" class="uk-button uk-button-small uk-button-default uk-button-active-success">{{ mocha.i18n.get('enabled') }}</label>

                        <input type="radio" id="user-register-0" name="user_register" value="0" {{ not form.user_register ? 'checked' }} hidden>
                        <label for="user-register-0" class="uk-button uk-button-small uk-button-default uk-button-active-danger">{{ mocha.i18n.get('disabled') }}</label>
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">{{ mocha.i18n.get('verification') }}</label>
                <div class="uk-form-controls">
                    <div class="uk-button-group uk-button-radio">
                        <input type="radio" id="user-verification-1" name="user_verification" value="1" {{ form.user_verification ? 'checked' }} hidden>
                        <label for="user-verification-1" class="uk-button uk-button-small uk-button-default uk-button-active-success">{{ mocha.i18n.get('enabled') }}</label>

                        <input type="radio" id="user-verification-0" name="user_verification" value="0" {{ not form.user_verification ? 'checked' }} hidden>
                        <label for="user-verification-0" class="uk-button uk-button-small uk-button-default uk-button-active-danger">{{ mocha.i18n.get('disabled') }}</label>
                    </div>
                    <div class="uk-width-2-5@m uk-float-right uk-text-meta">{{ mocha.i18n.get('verification_info') }}</div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="default-role">{{ mocha.i18n.get('default_role') }}</label>
                <div class="uk-form-controls">
                    <select id="default-role" name="default_role" class="uk-select uk-width-200">
                        {% for role in roles %}
                            {% if not role.locked %}
                                <option value="{{ role.role_id }}" {{ form.default_role == role.role_id ? 'selected' }}>{{ role.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="uk-width-2-5@m uk-float-right uk-text-meta">{{ mocha.i18n.get('default_role_info') }}</div>
                </div>
            </div>
        </fieldset>

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ mocha.i18n.get('themes') }}</legend>

            <div class="uk-margin">
                <label class="uk-form-label" for="theme-front">{{ mocha.i18n.get('front_theme') }}</label>
                <div class="uk-form-controls">
                    <select id="theme-front" name="theme_front" class="uk-select uk-width-1-4">
                        {% for front_theme in front_themes %}
                            <option value="{{ front_theme }}" {{ form.theme_front == front_theme ? 'selected' }}>{{ front_theme|replace({'_': ' '})|title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="theme-admin">{{ mocha.i18n.get('admin_theme') }}</label>
                <div class="uk-form-controls">
                    <select id="theme-admin" name="theme_admin" class="uk-select uk-width-1-4">
                        {% for admin_theme in admin_themes %}
                            <option value="{{ admin_theme }}" {{ form.theme_admin == admin_theme ? 'selected' }}>{{ admin_theme|replace({'_': ' '})|title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>

    </div>
</form>
